version: '3.8'

services:
  postgres:
    image: postgres:17-alpine
    container_name: shorturl_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: short_url_db
    ports:
      - "15432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Redis Cache
  redis:
    image: redis:8-alpine
    container_name: shorturl_redis
    ports:
      - "16379:6379"

volumes:
  postgres_data: